/* Using CSS grid to design the control dock */

main {
    display: grid;
    grid-template-columns: 1.25fr 3fr 1.25fr;
    background-blend-mode: color-burn;
    background: radial-gradient(#525252, #131313);
    border-radius: 15px;
    color: white;
}

.transponseValue {
    width: 20px;
    height: 20px;
    border: none;
    text-align: center;
}

#transposeControls {
    padding-top: 5%;
    display: flex;
    justify-content: space-evenly;
}

.dockActionTransponse {
    padding: 15% 15%;
}

.dockActionHideChords {
    display: flex;
    text-align: center;
    padding: 15% 15%;
}

.transponseHeading {
    text-align: center;
    font-family: sans-serif;
}

.hideChordHeading {
    padding-right: 10px;
}

.songDetails {
    text-align: center;
    padding: 5% 5%;
    font-family: Quicksand;
    font-weight: lighter;
}

.transponseButton {
    color: black;
    font-weight: bold;
    font-size: 20px;
}


/* disabling all achor decorations */

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}