.page-container {
    padding: 20px 0px 20px 55px;
}

.backgroundImage {
    background-image: url(https://images2.alphacoders.com/199/thumb-1920-19992.png);
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    opacity: 0.5;
}