.song-Tile {
    height: 150px;
    width: 250px;
    border-radius: 15px;
    padding: 10px 10px;
    opacity: 50;
    /* text-align: center; */
    float: left;
}

.song-Tile:hover {
    opacity: 0.3;
}

.container {
    /* display: flex;
    justify-content: center; */
}

img {
    object-fit: cover;
}

.SongTileContainer {
    padding: 1% 4%;
}

div.indiSongTile {
    cursor: pointer;
}